html  
    head
        title AJAX
    body
        h1(id='message') You haven't clicked it yet
        button(id='clickit') click it
        button(id='clickthis') click this
    script(src='js/main.js')
